@charset "UTF-8";

h1{
    background-color: bisque;
    text-align: center;
}

ul.ddmenu1{
    margin: 0px;
    padding: 0px 0px 0px 15px;
    background-color: aliceblue;
}

ul.ddmenu1 li{
    width: 130px;
    display: inline-block;
    list-style-type: none;
    position: relative;
}

ul.ddmenu1 a{
    background-color: rgb(134, 218, 246);
    color:brown;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

ul.ddmenu1 ul{
    display: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
}

ul.ddmenu1 a:hover{
    background-color: rgb(134, 200, 255);
    color: blueviolet;
}

ul.ddmenu1 li:hover ul{
    display: block;
}